<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.EmbeddedJettySpringExample.mapper.IUnitOBDDetailMidDAO">
  <resultMap type="UnitOBDDetailMid" id="resultList">
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <result column="COMMUNITY_ADDR_ID" property="communityAddrId" jdbcType="NUMERIC" javaType="java.lang.Long"/>
    <result column="COMMUNITY_DETAILNAME" property="communityDetailName" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <result column="TERMID" property="termId" jdbcType="NUMERIC" javaType="java.lang.Long"/>
    <result column="TERMNAME" property="termName" jdbcType="VARCHAR" javaType="java.lang.String"/>
  </resultMap>
  
  <select id="getAllDataByCityId" parameterType="java.lang.String" resultMap="resultList">
  	select * from WEBGIS_UNIT_OBD_DETAIL_MID
  </select>
  
  <update id="updateByCityId" parameterType="UnitOBDDetailMid">
  	update WEBGIS_UNIT_OBD_DETAIL_MID
  	<set>
  		<if test="communityAddrId != null">
  			COMMUNITY_ADDR_ID = #{communityAddrId},
  		</if>
  		<if test="communityDetailName != null">
  			COMMUNITY_DETAILNAME = #{communityDetailName},
  		</if>
  		<if test="termId != null">
  			TERMID = #{termId},
  		</if>
  		<if test="termName != null">
  			TERMNAME = #{termName}
  		</if>
  	</set>
  	where CITY_ID = #{cityId}
  </update>
</mapper>