<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop.xsd
		   http://www.springframework.org/schema/tx 
		   http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

  <!-- oracle
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName">
	  <value>oracle.jdbc.driver.OracleDriver</value>
	</property>
	<property name="url">
	  <value>jdbc:oracle:thin:@dababase_url:sid</value>
	</property>
	<property name="username">
	  <value>username</value>
	</property>
	<property name="password">
	  <value>password</value>
	</property>
  </bean>
  -->
  <!-- sqlite
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>org.sqlite.JDBC</value>
    </property>
    <property name="url">
      <value>jdbc:sqlite:mysqlite.db"</value>
    </property>
  </bean>
  -->
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="configLocation" value="classpath:MybatisConfiguration.xml"></property>
    <property name="dataSource" ref="dataSource" />
    <property name="mapperLocations" value="classpath:com/study/**/mapper/*.xml" />
  </bean>
  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.study.**.mapper" />
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>
  
  <context:component-scan base-package="com.study">
  </context:component-scan>
  
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
      <list>
        <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"/>
      </list>
    </property>
  </bean>
</beans>