<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop.xsd
		   http://www.springframework.org/schema/tx 
		   http://www.springframework.org/schema/tx/spring-tx.xsd
		   http://www.springframework.org/schema/cache     
  		   http://www.springframework.org/schema/cache/spring-cache.xsd
  		   http://www.springframework.org/schema/mvc
  		   http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	default-autowire="byName">

  <!-- mysql -->
  <!-- 
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
	  <value>com.mysql.cj.jdbc.Driver</value>
	</property>
	<property name="url">
	  <value>jdbc:mysql://localhost:3306/test?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true</value>
	</property>
	<property name="username">
	  <value>root</value>
	</property>
	<property name="password">
	  <value>root</value>
	</property>
  </bean>
   -->
  
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>org.postgresql.Driver</value>
    </property>
    <property name="url">
      <value>jdbc:postgresql://localhost:5432/test</value>
    </property>
    <property name="username">
      <value>test</value>
    </property>
    <property name="password">
      <value>test</value>
    </property>
  </bean>
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="configLocation" value="classpath:MybatisConfiguration.xml"></property>
    <property name="dataSource" ref="dataSource" />
    <property name="mapperLocations" value="classpath:com/study/**/mapper/*.xml" />
  </bean>
  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.study.**.mapper" />
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>
  
  <context:component-scan base-package="com.study">
  </context:component-scan>
  
  <!-- for spring 4.x
  <bean class="org.springframework.web.servlet.mvc.annotation.RequestMappingHandlerAdapter">
    <property name="messageConverters">
      <list>
        <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"/>
      </list>
    </property>
  </bean>
  -->
  <mvc:annotation-driven>
  	<mvc:message-converters>
  		<bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"/>
  	</mvc:message-converters>
  </mvc:annotation-driven>
  
  <!-- ehcache -->
  <cache:annotation-driven cache-manager="cacheManager"/>
  
  <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    <property name="configLocation" value="classpath:ehcache.xml"/>
    <!-- share cache manager with mybatis 2th level cache -->
    <property name="shared" value="true"/>
  </bean>

  <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
    <property name="cacheManager" ref="ehcacheManager"/>
    <property name="transactionAware" value="true"/>
  </bean>
  
  <!-- aop -->
  <aop:aspectj-autoproxy />
  
</beans>